body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}
header {
  color: #2E2F42;
}

.logo {
  color: green;
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
}

.nav-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-menu-list .nav-menu-link:hover {
  color: #404BBF;
}

.address-link .address-link-text:hover {
    color: #404BBF;
}

.filter-button .filter-button-text:hover{
  background-color: #404BBF;
  color:#FFF;

}

.nav-menu-list {
  list-style: none;
}

.address-link {
  list-style: none;
}

.address-link > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
.hero {
  background-color:#2E2F42 ;
}

.hero-text {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.07143px;
}

.hero-button {
  background-color: #4D5AE5;
  color:#FFF;
  cursor: pointer;
}


.filter-button {
  list-style: none;
  cursor: pointer;
}

.filter-button-text {
  color:#4D5AE5;
}

.project-card-images {
  list-style-type: none;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2E2F42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}

.features-header {
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2E2F42;
}

.service-images {
  list-style: none;
}

.team {
  background-color: #F4F4FD;
}

.team-text {
  text-align: center;
}

.team-images {
  list-style-type: none;
}

footer {
  background-color: #2E2F42;
}

footer p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #F4F4FD;

}

