:root {
 --navy-blue: #2e2f42;
 --slate: #434455;
 --cloud: #f4f4fd;
 --iris: #4d5ae5;
 --orange: #e7791f;
 --ocean: #404bbf;
 --cornflower: #e7e9fc;
 --white: #fff;
 --blue: #0000ff;
}


body {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}
header {
  color: var(--navy-blue)
}

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
}

.nav-menu-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-menu-list .nav-menu-link:hover {
  color: var(--ocean);
}

.address .address-link:hover {
    color: var(--ocean);
}

.filter-button .filter-button-text:hover{
  background-color: var(--ocean);
  color: var(--white);

}

.nav-menu-list {
  list-style: none;
}

.address {
  list-style: none;
}

.address-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.hero {
  background-color: var(--navy-blue);
}

.hero-text {
  color: var(--white);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.07143px;
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
}


.filter-button {
  list-style: none;
  cursor: pointer;
}

.filter-button-text {
  color: var(--iris);
}

.project-card-images {
  list-style-type: none;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}

.features-item {
  list-style-type: none;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.service-images {
  list-style: none;
}

.team {
  background-color: var(--cloud);
}

.team-text {
  text-align: center;
}

.team-images {
  list-style-type: none;
}

footer {
  background-color: var(--navy-blue);
}

footer p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--cloud);

}

